<a href="/questionario"><button class="mx-auto btn btn-success m-2">Adicionar novo questionário</button></a>

<ul class="list-group">
    {{#each questionarios}}
    <li class="list-group-item list-group-item-action">
        {{this.titulo}} <span class="badge badge-primary badge-pill">{{this.respostas.length}}</span>
        <p class='m-0'><small><i>por {{this.usuario.nome}} às {{ this.createdAt}}</i></small></p>
        <div class="respostas" style="display:none;">
            <a href="/resposta/{{this.id}}"><button class="mx-auto m-2 btn btn-primary">Responder</button></a>
            {{#if this.respostas}}
            <ul class="list-group">
                {{#each this.respostas}}
                <li class="list-group-item list-group-item-action">
                    {{this.resposta}}<p class='m-0'><small><i>por {{this.usuario.nome}} na localização lat {{this.lat}}
                                long {{this.long}} às {{this.createdAt}}</i></small></p>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </li>
    {{/each}}
</ul>

<script>
    $(document).ready(function () {
        $("li.list-group-item.list-group-item-action").on("click", function () {
            $(this).find("div.respostas").slideToggle();
        });
    });
</script>